form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-size: 0.75rem;
}

input {
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  -webkit-appearance: none;
  font-size: inherit;
}
