dl {
  margin: 0;
}
dt {
  font-size: var(--clear-font-size-label);
}
dd {
  margin-left: 0;
  margin-block-end: var(--clear-unit);
}
ul {
  word-break: break-all;
}
li {
  margin-block-end: calc(var(--clear-unit) / 2);
}