dl {
  margin: 0;
}
dt {
  font-size: 0.8rem;
}
dd {
  margin-left: 0;
  margin-block-end: 8px;
}
ul {
  padding-block-start: 0 !important;
  margin-left: 24px !important;
  word-break: break-all;
}
li {
  margin-block-end: 4px;
}